*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: azure;
}

header, footer{
    width: 100%;
    max-width: 550px;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#inputGridSize{
    width: 70px;
    height: 30px;
    font-size: 1.25rem;
    text-align: center;
}

main{
    width: 100%;
    max-width: 550px;
    height: 80vh;
    display: grid;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(201, 142, 142, 0.4);
    background-color: white;
}

main .lol{
    height: 100%;
    width: 100%;
}

main .lol:hover{
    background-color: whitesmoke;
}



#clearAll,
#label_color,
#eraser,
#rainbow{
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(201, 142, 142, 0.6);
    cursor: pointer;
}


#eraser{
    background-color: lightgray;
    font-weight: bold;
}

#clearAll:active{
    background-color:lightgreen;
    color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(201, 142, 142, 0.4);
}

.rainbow{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
    font-weight: bolder;
    color: white;
}